In [1]:
import pandas as pd

In [4]:
test = pd.read_csv('../dataset/SECTION THREE DATA SET/test_resource_data_q2.csv')
test.head()

    time_spend  task_count  task_type
0     0.405813        3896         10
1   227.181065        2133          8
2  1265.799171         272          5
3   730.777326        1194         10
4     0.591428        2364          3

In [5]:
train = pd.read_csv('../dataset/SECTION THREE DATA SET/resource_dataset.csv')
train.head()

,physical_cores,logical_cores,max_cpu_frequency,min_cpu_frequency,total_ram,total_available_ram,total_swap,free_swap,start_time,stop_time,time_spend,task_count,task_type,current_cpu_frequency
0,12,12,2095.00Mhz,0.00Mhz,100.00GB,17.36GB,114.50GB,26.65GB,0.000018,0.000181,0.000163,532,0,2095.00Mhz
1,12,12,2095.00Mhz,0.00Mhz,100.00GB,17.36GB,114.50GB,26.65GB,0.000187,0.000227,0.000041,532,1,2095.00Mhz
2,12,12,2095.00Mhz,0.00Mhz,100.00GB,17.36GB,114.50GB,26.65GB,0.000229,0.000283,0.000054,532,2,2095.00Mhz
3,12,12,2095.00Mhz,0.00Mhz,100.00GB,17.36GB,114.50GB,26.65GB,0.000020,0.000052,0.000032,532,3,2095.00Mhz
4,12,12,2095.00Mhz,0.00Mhz,100.00GB,17.36GB,114.50GB,26.65GB,0.000054,0.000082,0.000028,532,4,2095.00Mhz