## Section 3
#### Converting Dictionary to CSV

In [ ]:
data = {
    "successful": [
        "30000922",
        "30000910"
        ],
    "id_undetermined": [
        "30000911",
        "30000913"
        ],
    "unsuccessful": [
            {
                "id_number": "30000921",
                "errors": {
                    "fee_status": [
                        "\"KNOWN\" is not a valid choice."
                    ]
                }
            },
            {
                "id_number": "29000921",
                "errors": {
                    "fee_status": [
                        "\"KNOWN\" is not a valid choice."
                        ],
                    "fee_receipt": {
                        "0": {
                            "registration_section": {
                                "9": {
                                    "sectionNo": [
                                        "This field may not be null."
                                    ]
                                }
                            }
                        }
                    }
                }
            }
    ]
}

Structuring the dict as Dataframe

In [10]:
import pandas as pd
df = pd.DataFrame.from_dict(data)
df

,successful,id_undetermined,unsuccessful
0,30000922,30000911,"{'id_number': '30000921', 'errors': {'fee_stat..."
1,30000910,30000913,"{'id_number': '29000921', 'errors': {'fee_stat..."

converting Dataframe to csv

In [9]:
df.to_csv('Section_3_dict.csv', index=False)